:root {
  --primary-color: #2B2D42;
  --secondary-color: #ef233c;
}
body {
  overflow: hidden;
}
h1{
  text-align: center;
  color: var(--primary-color);
  font: bold 25px Arial;
}
h2 {
  text-align: center;
  color: var(--secondary-color);
  font: italic 20px Arial;
}
circle {
  fill: var(--primary-color);
}
.doping {
  fill: var(--secondary-color);
}
div.tooltip {
  color: #edf2f4;
  position: absolute;
  text-align: center;
  width: 150px;
  padding: 2px;
  font: 12px sans-serif;
  background: var(--primary-color);
  border: 0px;
  border-radius: 3px;
  pointer-events: none;
}
.color {
  color: var(--secondary-color);
}
svg g {
  color: var(--primary-color);
}